<%- include("header") -%>
    <div class="about">
        <h2>The DOIT APP</h2>
        <p>This is an example of server side application made with Node.js.
            In this To Do List app you can create your customs lists,
            add itmes to each list and delete them.</p>
        <p>What I used to make this app:</p>
        <ul>
            <li>Express.js</li>
            <li>EJS</li>
            <li>MongoDB and Mongoose</li>
            <li>CSS</li>
        </ul>
        <p>AS PaaS i used Render.</p>
        <p>You can see the source code on my <a class="regular-link" href="https://github.com/unobjectivepoint/ToDoList" target="_blank">GitHub</a>.</p>
        <a href="/">&#8672;&nbsp;Back to Home</a>
    </div>
<%- include("footer") -%>